#skill {
	position:relative;
	padding:7em 0;
	background-color:#255CA8;
	
	h1 {
		@include h1Style;
	}
	&:after {
@extend %section-bg-psudo;
top:-7em;
left:0;
height:9em;
background:url("../images/skill-upper-bg.png") left top;
	}

	&:before {
@extend %section-bg-psudo;
bottom:-6em;
left:0;
height:9em;
background:url("../images/skill-lower-bg.png") left top;
}
}

.skill-pie-chart {
	@include flex(center);
	padding:2em;
	span:first-child {
		margin-right:1em;
	}
	span:last-child {
		margin-left:1em;
	}
}
.skill-histogram {
	@include flex(center);
	margin-top:5em;
}
.skill-container {
	@include flex(space-between);
}
.skill-level {
	position:relative;
	top:6em;
	left:1.5em;
	ul {
		padding-left:0;
		list-style:none;
		li {
			padding:.5em 0;
		}
	}
}
.skill-content {
	position:absolute;
	bottom:-4em;
	left:1em;
	ul {
		padding-left:none;
		list-style:none;
		li {
		display:inline-block;
			padding:.5em 0;
      @include vendor-prefix-webkit(transform,rotate(45deg));
		}
	}
}
.pie-chart-1,
.pie-chart-2 {
  @include vendor-prefix-webkit(transform,rotate(90deg));
  background:#FFC408;
  border-radius: 50%;
}
.pie-chart-1 {
	margin-right:5em;
}
.pie-chart-1 circle {
	fill:#FFC408;
	stroke:#0E82F3;
	stroke-width:150;
	stroke-dasharray:190 628;
	
}
.pie-chart-2 circle {
	fill:#FFC408;
	stroke:#0E82F3;
	stroke-width:150;
	stroke-dasharray:400 628;
}


.skill-frontend,
.skill-backend	{
	position:relative;
	width:15em;
	height:15em;
	margin:1em;
	border-bottom:1px solid white;
	
	meter::-webkit-meter-bar {
  	background: none; 

	}

	meter {
	position:absolute;
	width:10em;
	height:2em;
	border:none;
  @include vendor-prefix-webkit(transform-origin,left bottom);
	@include vendor-prefix-webkit(transform,rotate(-90deg));
	&:nth-of-type(1) {
	bottom:0;
	left:5em;
	}
	&:nth-of-type(1)::-webkit-meter-optimum-value{
	background:#EFBB24;
	}

	&:nth-of-type(2) {
	bottom:0;
 	left:7.5em;
	}
	&:nth-of-type(2)::-webkit-meter-optimum-value{
	
	background:#F6C555;
}
	&:nth-of-type(3) {
	bottom:0;
	left:10em;
	}
	&:nth-of-type(3)::-webkit-meter-optimum-value{
    
	background:white;
}
	&:nth-of-type(4) {
		bottom:0;
		left:12.5em;
	}
	&:nth-of-type(4)::-webkit-meter-optimum-value{
	
	background:#DAC9A6;
}
}
}

.skill-frontend,
.skill-backend {
	meter {
		&:nth-of-type(1):hover:before,
		 &:nth-of-type(2):hover:before,
		 &:nth-of-type(3):hover:before,
		 &:nth-of-type(4):hover:before
		  {
		  	position:absolute;
		  	top:50%;
			padding:.7em 0;
			width:10em;
			height:2em;
			text-align:center;
			background-color:black;
      @include vendor-prefix-webkit(transform,translate(-50%,-50%) rotate(90deg));
			
		}
		&:nth-of-type(1):hover:after,
		&:nth-of-type(2):hover:after,
		&:nth-of-type(3):hover:after,
		&:nth-of-type(4):hover:after {
			content:"";
			position:absolute;
			top:1em;
			border-left: .5em solid transparent;
    		border-right: .5em solid transparent;
    		border-top: 1em solid black;
    	 @include vendor-prefix-webkit(transform,translate(-50%,-50%) rotate(90deg));
		}
}
}
.skill-frontend {
	meter {
		&:nth-of-type(1):hover:before,
		 &:nth-of-type(2):hover:before
		 {
			content:"Very comfortable";
			position:absolute;
			left:80%;
			

		}
		&:nth-of-type(1):hover:after,
		&:nth-of-type(2):hover:after {
			left:6em;
			
		}
		
		 &:nth-of-type(3):hover:before,
		 &:nth-of-type(4):hover:before {
			content:"Still learning";
			left:60%;
			

		}
		&:nth-of-type(3):hover:after,
		&:nth-of-type(4):hover:after {
			left:4em;
    		
		}
	}	
}

.skill-backend {
	meter {

		&:nth-of-type(1):hover:before {
			content:"Just Starting";
			left:50%;

		}
		&:nth-of-type(1):hover:after {
			left:3em;
		}
		&:nth-of-type(2):hover:before {
			content:"Still learning";
			left:60%;
		}
		&:nth-of-type(2):hover:after {
			left:4em;
		}
		&:nth-of-type(3):hover:before,
		&:nth-of-type(4):hover:before {
			content:"Just starting";
			left:40%;
		}
		&:nth-of-type(3):hover:after,
		&:nth-of-type(4):hover:after {
			left:2em;
		}
	}
}
